.brand-name {
    background-color: #308e36;
    display: block;
    text-decoration: none;
    color: white;
    font-family: Arial;
  }

  li a {
    display: block;
    background-color: #303331;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-family: Arial;
  }
  
  li {
    float:left;
  }

  li a:hover:not(.active) {
    background-color: black;
  }

  ul {
    list-style-type: none;
    background-color: #303331;
    overflow: hidden;
    padding: 0px;
    margin: 0px
  }

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
.dropdown1-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
  }
  
.dropdown1-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  } 
  
.dropdown1-content a:hover {
  background-color: #f1f1f1
  }

.dropdown1:hover .dropdown1-content {
  display: block;
  }

.dropdown1:hover .dropbtn {
  background-color: #3e8e41;
  }

  li:last-child {
      float:right !important; 
  }

  li:last-child img {
    height: 20px;
  }